@import url(https://fonts.googleapis.com/css?family=Handlee|Pacifico);

html {
    margin: 0;
}

.playing {
    transform: scale(2.0);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

.drumset {
    display: block;
    width: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.main-wrapper {
    margin: 30px auto 0;
    width: 1080px;
    text-align: center;
}

.key-legend {
    background-color: lightblue;
    width: 100%;
}

.key-map-list {
    list-style: none;
    text-align: left;
}

.key-code {
    color: #444;
    background-color: #eaeaea;
    font-size: 1.25em;
    padding: 5px 10px;
    border-radius: 4px;
    border: 3px solid #aaa;
    cursor: pointer;
}

.key-sound {
    font-size: 1.2em;
    margin-left: 10px;
    font-family: 'Handlee', cursive;
    vertical-align: middle;
}

.key {
    display: inline-block;
    transition: all 0.07s;
    background: #eaeaea;
    height: 50px;
    width: 32px;
    font-size: 1.5em;
    border-radius: 4px;
    border: 3px solid #aaa;
    color: #444;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .65);
    cursor: pointer;
}

/* button placement */

.snare {
    position: absolute;
    top: 170px;
    left: 750px;
}

.tom-high {
    position: absolute;
    top: 150px;
    left: 680px;
}

.tom-mid {
    position: absolute;
    left: 430px;
    top: 300px;
}

.kick {
    position: absolute;
    top: 440px;
    left: 590px;
}

.kick2 {
    position: absolute;
    left: 550px;
    top: 440px;
}

.crash,
.ride {
    position: absolute;
    top: 110px;
    left: 500px;
}

.crash {
    margin-left: 40px;
}

.hihat-open,
.hihat-close {
    position: absolute;
    top: 110px;;
    right: 500px;
}

.hihat-open {
    margin-right: 40px;
}
